* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header.php */
    main
    {
        width: 100%;
        margin: 0;
    }
    .navx
    {
        height: auto;
        width: 1fr;
        background-color: brown;
        
    }
    .title
    {
        /* position: relative; */
        /* margin: 0px; */
        height: 55px;
        width: 100%;
        background-color:green;
    }
    .sdbar
    {
        height: 55px;
        width: 1fr;
        background-color: green;
        border: 1px solid gray;
    }
/* header.php */



.type
{
    background-color: indigo;
}


/* .item1 {
    margin: 0 auto;
    width: 100%;
    background-color: aquamarine;
    font-style: italic;
    position: sticky;
}
*/

.corsize{
    height: 400px;
    width: 100%;
} 

.dbox{
    width:150px;
    height:  auto;
}
.info{
    margin-top: 100px;
    background-color: lawngreen;
}

